@media (max-width: 767px)
    .promo
        background-position-x: -1100px
        &__wrapper
            align-items: center
        .header
            &__official
                display: none
            &__phone
                font-size: 25px
            .button
                font-size: 15px
                width: 180px
                height: 40px                
    .advantages
        &__wrapper
            flex-direction: column
            margin-top: 20px
        &__item
            margin: 0 auto
            width: 70%
            margin-top: 20px

@media (max-width: 575px)
    .promo
        padding-bottom: 65px
        &__header
            font-size: 37px
        &__subheader
            font-size: 21px
        &__icons
            margin-top: 28px
        .header
            &__phone
                font-size: 20px
            .button
                font-size: 13px
                width: 160px
                height: 30px    
@media (max-width: 475px)
    .promo
        min-height: 500px
        &__wrapper
            margin-top: 60px
        &__header
            font-size: 24px
        &__subheader
            font-size: 13px
        &__icons
            margin-top: 28px
            max-width: 350px
        .header
            &__phone
                font-size: 17px
            .button
                font-size: 13px
                width: 160px
                height: 30px
                margin-left: 10px
@media (max-width: 370px)
    .promo
        &__icons
            max-width: 320px
        &__icon
            font-size: 12px
        


  

